#login{
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    width: 500px;
    margin: auto;
}

#register{
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    width: 500px;
    margin: auto;
}

#body{
    background-color: #f5e1ce !important;
}
